
<mat-card class="mb-5">
    <mat-card-content>
        <form #productForm="ngForm" (ngSubmit)="onProductAdd()">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Product Name</mat-label>
                <input type="text" 
                        matInput 
                        placeholder="Product Name"
                        name="productname"
                        ngModel
                        #productname="ngModel">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Product Image</mat-label>
                <input type="text" 
                        matInput 
                        placeholder="Product Image"
                        name="image"
                        ngModel
                        #image="ngModel">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Product Detail</mat-label>
                <textarea matInput 
                        placeholder="Product Details"
                        name="productdetail"
                        ngModel
                        #productdetail="ngModel">
                </textarea>
            </mat-form-field>

            <button mat-flat-button color="primary" class="btn btn-sm btn-block" [disabled]="productForm.invalid">Add Product</button>
        </form>
    </mat-card-content>
</mat-card>