
<div class="container mt-5">
  <h4 class="p-4 bg-info text-center text-white">Todo Task</h4>
    <div class="row">
        <div class="col-md-6">
           <app-todoform></app-todoform>
        </div>
        <div class="col-md-6">
            <app-todocards></app-todocards>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h4 class="p-4 bg-info text-center text-white">Student Data</h4>
    <div class="row">
      <div class="col-md-6">
        <app-std-form></app-std-form>
        <!-- <app-stdform
          (emitStdFom)="getStdData($event)">
  
        </app-stdform> -->
      </div>
  
      <div class="col-md-6">
        <app-std-table></app-std-table>
        <!-- <app-stdtable
          [dataArr]="StdArr">
  
        </app-stdtable> -->
      </div>
    </div>
  </div>

<div class="container mt-5">
  <h4 class="p-4 bg-info text-center text-white">Product Task</h4>
    <div class="row">
        <div class="col-md-12">
            <app-productdashboard></app-productdashboard>
        </div>
    </div>
</div>