

<mat-card appearance="outlined" class="mb-4">
    <form #todoItem="ngForm" (ngSubmit)="onTodoAdd()">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <mat-label>Todo Item</mat-label>
                <input matInput type="text"  
                        id="todo" 
                        name="todo" 
                        ngModel 
                        #todo="ngModel"
                        required
                        minlength="4"
                        maxlength="10">
            </mat-form-field>
            <!-- <div class="form-group">
                <label for="todo">Todo Item* :-</label>
                <input type="text" 
                    class="form-control" 
                    id="todo" 
                    name="todo" 
                    ngModel 
                    #todo="ngModel"
                    required
                    minlength="4"
                    maxlength="10"> -->
    
                <span class="text-danger" 
                    *ngIf="todo.invalid && todo.touched && todo.hasError('required')">
                    Todo Item is required!!!
                </span>
    
                <span class="text-danger" 
                            *ngIf="todo.dirty && todo.hasError('minlength')">
                            Minimum length of Todo Item should be {{todo.errors?.['minlength'].requiredLength}}
                            and actual length is {{todo.errors?.['minlength'].actualLength}}
                </span> 
        </mat-card-content>

        <button mat-raised-button color="primary" type="submit" class="btn-block" [disabled]="todoItem.invalid">Add Todo</button>

    </form>
</mat-card>